<div id="users-list">
{% extends 'base.html' %} 
{% block content %}
<h1> Zarządzanie Użytkownikami</h1>

<a class="btn btn-success" href="{% url 'page-register' %}">Utwórz Nowych Użytkowników</a>
<br>
<br>

<div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          {% comment %} <th scope="col">Lp</th> {% endcomment %}
          <th class="hide_in_mobile" scope="col">Id</th>
          <th scope="col">Nazwa</th>
          <th class="hide_in_mobile" scope="col">Email</th>
          <th class="hide_in_mobile" scope="col">Ostatnie Logowanie</th>
          <th scope="col">Typ</th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
  
      <tbody>
       {% for user in users %}
         
          <tr>
            <td class="hide_in_mobile">{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td class="hide_in_mobile"><a href="mailto:{{ user.email}};">{{ user.email }}</td>
            <td class="hide_in_mobile">{{ user.last_login}}</td>
            <td>
               {% if user.is_admin == True %}
               Admin
               {% elif user.is_manager == True %}
               Manager
               {% elif user.is_operator == True %}
               Operator
               {% else %}
                IT
               {% endif %}

                
            </td>
            <td>
              {% comment %} htmx dynamic request {% endcomment %}
            <a class="btn btn-danger" style="cursor: pointer;"
               hx-delete="{% url 'delete-users' user.pk %}"
               hx-target ='#users-list'
               hx-confirm = "Czy chcesz usunąć {{user.username}} ?"
               >Usuń</a>
            </td>
          </tr>
    



        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}
</div>
