{% comment %} {% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boarder-bottom mb-4">Czy na pewno chcesz usunąć tego Użytkownika?</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <p>{{user.username}} zostanie skasowany. Czy na pewno chcesz to zrobić?</p>
            <button class="btn btn-outline-danger adminButton" type="submit" value="confirm">Tak - usuń</button>
            <a class="btn btn-outline-secondary adminButton" href="{% url 'page-admin' %}">Nie - wróć do listy zleceń</a>
        </div>
    </form>
    <br>
</div>
<br>
{% endblock content %} {% endcomment %}