{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}

<h1> Hello Register Page</h1>
<br>
<div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                      <h1>Register New User</h1>
                </div>
                   <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Registration Form
                {% endif %}
              </span> 
                <form  method="post">
                    {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Confirm Password</label>
                      {{ form.password2 }}
                  </div>
                  <div class="d-flex mb-2 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Admin</span>
                        {{ form.is_admin }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-2 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Manager</span>
                        {{ form.is_manager }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-2 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Operator</span>
                        {{ form.is_operator }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                    <span class="text-error">{{ form.errors }}</span>
                  <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




{% endblock content %}
