{% extends 'base.html' %} 
{% block content %}

<h1> Plan cięcia wybranego zlecenia </h1>
<h3 style="color:#997207;">{{order.orderNumber}} {{order.orderName}}</h3>
<h4> Nakład: {{order.orderQuantity}} szt </h4>
{% if order.isDone == False %}
  {% if user.is_manager or user.is_admin or user.is_superuser%}
  <a class="btn btn-info" href="{% url 'page-item-create' order.id %}">Dodaj cięcie</a>
  {% endif %}
{% endif %}
  <a href="{% url 'pdf' order.id%}" class="btn btn-danger">PDF</a>
  <a href="{% url 'page-orders-list' %}" class="btn btn-secondary">Realizacja</a>
  <a href="{% url 'page-completed-orders-list' %}" class="btn btn-secondary">Zakończone</a>
<p></p>

<div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          <th scope="col">Nazwa materiału</th>
          <th scope="col" class="text-center">Ilość</th>
          <th class="hide_in_mobile text-center" scope="col">Nazwa części</th>
          <th scope="col" class="text-center">Wymiar (mm)</th>
          <th scope="col" class="text-center">Wymiar 2 (mm)</th>
          <th class="hide_in_mobile"scope="col" class="text-center">Zlecenie numer</th>
          <th scope="col" class="text-center hide_in_mobile">Akcje</th>
        </tr>
      </thead>
      
      <tbody>
        {% for item in object_list %}
            {% if item.itemOrder.orderNumber == order.orderNumber%}
              <tr>
                  <td>{{ item.itemMaterial }}</td>
                  <td class="text-center">{{ item.itemQuantity }} szt </td>
                  <td class="text-center hide_in_mobile" >{{ item.itemName }}</td>
                  {% comment %} Dimension 1 show with bander option {% endcomment %}
                  {% if item.itemBander == 'OKLEJANIE 1 STR' %}
                    <td class="text-center" 
                    style="text-decoration: underline; text-decoration-thickness:4px; text-decoration-color:#997207;">
                    {{ item.itemDimmension1 }}</td>
                  {% elif item.itemBander == 'OKLEJANIE 2 STR' %}
                    <td class="text-center" 
                    style="text-decoration: underline; text-decoration-style: double; text-decoration-thickness:4px; text-decoration-color:#997207;">
                    {{ item.itemDimmension1 }}</td>
                  {% else %}
                    <td class="text-center">{{ item.itemDimmension1 }}</td>
                  {% endif %}
                  
                  {% comment %} Dimension 2 show with bander option {% endcomment %}
                  {% if item.itemBander2 == 'OKLEJANIE 1 STR' %}
                    <td class="text-center" 
                    style="text-decoration: underline; text-decoration-thickness:4px; text-decoration-color:#997207;">
                    {{ item.itemDimmension2 }}</td>
                  {% elif item.itemBander2 == 'OKLEJANIE 2 STR' %}
                    <td class="text-center" 
                    style="text-decoration: underline; text-decoration-style: double; text-decoration-thickness:4px; text-decoration-color:#997207;">
                    {{ item.itemDimmension2 }}</td>
                  {% else %}
                    <td class="text-center">{{ item.itemDimmension2 }}</td>
                  {% endif %}
                  
                  <td class="text-center hide_in_mobile" >{{ item.itemOrder.orderNumber }}</td>
                  <td class="text-center hide_in_mobile">
                    {% if order.isDone == False %}
                      {% comment %} Delete the item {% endcomment %}
                      <a class="btn btn-danger" href="{% url 'page-items-delete' order.id item.id %}">Usuń</a>
                      <a class="btn btn-secondary" href="{% url 'page-item-update' item.id %}">Popraw</a>
                    {% else %}
                      X
                    {% endif %}
                  </td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}