{% extends 'base.html' %} 
{% block content %}
<h1> Lista pozycji wybranego zlecenia</h1>

<div>
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          {% comment %} <th scope="col">Lp</th> {% endcomment %}
          <th scope="col">Nazwa materiału</th>
          <th scope="col">Ilość</th>
          <th scope="col">Wymiar</th>
          <th scope="col">Oklejanie</th>
          <th scope="col">Wymiar2</th>
          <th scope="col">Oklejanie</th>
          <th scope="col">Nazwa części</th>
          <th scope="col">Zlecenie numer</th>

        </tr>
      </thead>
  
      <tbody>
        {% for item in object_list %}
          <tr>
            <th scope="row">{{ loop.index }}</th> 
            <td>{{ item.itemMaterial }}</td>
            <td>{{ item.itemQuantity }}</td>
            <td>{{ item.itemDimmension1 }}</td>
            <td>{{ item.itemBander }}</td>
            <td>{{ item.itemDimmension2 }}</td>
            <td>{{ item.itemBander2 }}</td>
            <td>{{ item.itemName }}</td>
            <td>
              <a class="btn btn-success" href="#">Btn1</a>
              <a class="btn btn-danger" href="#">Btn2</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}