{% extends 'base.html' %} 
{% block content %}
<h1> Lista zleceń <span style="color:#997207"> do wykonania</span></h1>

<div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          {% comment %} <th scope="col">Lp</th> {% endcomment %}
          <th scope="col">Numer zlecenia</th>
          <th scope="col">Nazwa zlecenia</th>
          <th class="hide_in_mobile" scope="col">Nakład</th>
          <th class="hide_in_mobile" scope="col">Manager</th>
          <th class="hide_in_mobile" scope="col">Data dodania</th>
          <th class="hide_in_mobile" scope="col">Uwagi</th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
  
      <tbody>
        {% for order in object_list %}
          {% if order.isDone == False %}
          <tr>
            {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
            <td>{{ order.orderNumber }}</td>
            <td>{{ order.orderName }}</td>
            <td class="hide_in_mobile">{{ order.orderQuantity }}</td>
            <td class="hide_in_mobile">{{ order.orderManager }}</td>
            <td class="hide_in_mobile">{{ order.orderDate |date:"M d, Y"}}</td>
            {% if order.orderNotes == "Brak" %}
              <td class="hide_in_mobile">{{ order.orderNotes }}</td>
              {% else %}
                <td class="hide_in_mobile" style="color:red;">{{ order.orderNotes }}</td>
            {% endif %}
            <td>
              {% comment %} Order detail with items {% endcomment %}
              <a class="btn btn-info" href="{% url 'page-items-list' order.id %}">Plan</a>
              
              {% comment %} Order update {% endcomment %}
              {% if user.is_manager or user.is_admin or user.is_superuser%}
              <a class="btn btn-secondary" href="{% url 'page-order-update' order.id %}">Popraw</a>
              {% endif %}
              
              {% comment %} Complete the order button {% endcomment %}
              {% if user.is_operator or user.is_admin or user.is_superuser%}
              <a class="btn btn-success" href="{% url 'page-order-finish' order.id %}">Zrealizuj</a>
              {% endif %}

              {% comment %} Delete the order {% endcomment %}
              {% if user.is_manager or user.is_admin or user.is_superuser%}
              <a class="btn btn-danger" href="{% url 'page-order-delete' order.id %}">Usuń</a>
              {% endif %}
              
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}