{% extends 'base.html' %} 
{% block content %}
<h1> Lista zleceń do wykonania </h1>

<div>
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          {% comment %} <th scope="col">Lp</th> {% endcomment %}
          <th scope="col">Numer zlecenia</th>
          <th scope="col">Nazwa zlecenia</th>
          <th scope="col">Nakład</th>
          <th scope="col">Manager</th>
          <th scope="col">Data zlecenia</th>
          <th scope="col">Uwagi</th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
  
      <tbody>
        {% for order in object_list %}
          {% if order.isDone == False %}
          <tr>
            {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
            <td>{{ order.orderNumber }}</td>
            <td>{{ order.orderName }}</td>
            <td>{{ order.orderQuantity }}</td>
            <td>{{ order.orderManager }}</td>
            <td>{{ order.orderDate |date:"M d, Y"}}</td>
            <td>{{ order.orderNotes }}</td>
            <td>
              <a class="btn btn-info" href="{% url 'page-items-list' order.id %}">Szczegóły</a>
              {% comment %} Complete the order button {% endcomment %}
              <a class="btn btn-success" href="{% url 'page-order-finish' order.id %}">Zrealizuj</a>
              {% comment %} Delete the order {% endcomment %}
              <a class="btn btn-danger" href="{% url 'page-order-delete' order.id %}">Usuń</a>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}