{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PDF {{obj.orderNumber}}</title>
    <style>
        table { -pdf-keep-with-next: true; }
        p { margin: 0; -pdf-keep-with-next: true; }
        p.separator { -pdf-keep-with-next: false; font-size: 6pt; }
    </style>

</head>

<body>
    <img src="media/logo.jpg" style="height:60px;">
    <h2> Plan ciecia wybranego zlecenia: </h2>
    <h1 style="color:#997207;">{{obj.orderNumber}} {{obj.orderName}}</h3>
        <h2> Naklad: {{obj.orderQuantity}} szt </h2>
        <h3> Data utworzenia wydruku: {{obj3}} </h3>

        <div>
            <table class="table table-bordered" style="text-align: center; padding: 5px;" border="0.2">
                <thead class="table-active">
                    <tr>
                        <th scope="col">Nazwa materialu</th>
                        <th scope="col">Ilosc</th>
                        <th scope="col">Wymiar</th>
                        <th scope="col">Oklejanie</th>
                        <th scope="col">Wymiar2</th>
                        <th scope="col">Oklejanie</th>
                        <th scope="col">Nazwa czesci</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in obj2 %}
                    <tr>
                        <td>{{ item.itemMaterial }}</td>
                        <td>{{ item.itemQuantity }}</td>
                        <td>{{ item.itemDimmension1}}</td>
                        <td>{{ item.itemBander }}</td>
                        <td>{{ item.itemDimmension2 }}</td>
                        <td>{{ item.itemBander2 }}</td>
                        <td>{{ item.itemName }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
</body>

</html>