{% url 'page-home' as home %}
{% url 'page-orders-list' as ordersList %}
{% url 'page-completed-orders-list' as completedOrdersList %}
{% url 'page-users-list' as usersList %}
{% url 'page-reports-list' as reportsList %}



<div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div> 
        {% comment %} LOGO SECTION {% endcomment %}
        <a class="nav_link {% if request.path == home %} active {% endif %}"
        href="{% url 'page-home' %}" ><span class="material-icons md-48">carpenter</span>
        <span class="nav_logo-name">CutIt</span></a>

        <div class="nav_list">

          {% comment %}  Zlecenia do realizacji  {% endcomment %}
          <a class="nav_link {% if request.path == ordersList %} active {% endif %}" 
          href="{% url 'page-orders-list' %}"><i class='bx bx-table nav_icon'></i>
          <span class="nav_name">Zlecenia do realizacji</span>
          </a> 
          {% comment %}  Zlecenia wykonane {% endcomment %}
          <a class="nav_link {% if request.path == completedOrdersList %} active {% endif %}" 
          href="{% url 'page-completed-orders-list' %}" ><i class='bx bxs-select-multiple nav_icon'></i>
          <span class="nav_name">Zlecenie wykonane</span> 
          </a>
          {% comment %} Użytkownicy {% endcomment %}
          <a class="nav_link {% if request.path == usersList %} active {% endif %}" 
          href="{% url 'page-users-list' %}" ><i class='bx bxs-user nav_icon'></i>
          <span class="nav_name">Użytkownicy</span>
          </a>
          {% comment %} Raporty {% endcomment %}
          <a class="nav_link {% if request.path == reportsList %} active {% endif %}"
          href="{% url 'page-reports-list' %}" ><i class='bx bx-bar-chart-alt-2 nav_icon'></i>
          <span class="nav_name">Raporty</span> 
          </a> 

        </div>
      
      {% comment %} SIDEBAR BOTTOM SECTION - SIGNOUT {% endcomment %}
      </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
          class="nav_name">SignOut</span> </a>

    </nav>
  </div>