{% url 'page-home' as home %}
{% url 'page-orders-list' as ordersList %}
{% url 'page-completed-orders-list' as completedOrdersList %}
{% url 'page-users-list' as usersList %}
{% url 'page-reports-list' as reportsList %}
{% url 'page-admin' as adminList %}
{% url 'logout' as logout %}

<!-- LOGOUT MODAL -->

<div class="modal fade left" id="exampleModal" aria-labelledby="exampleModalLabel" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wyloguj z CutIt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Chcesz się wylogować z   <span class="nav_logo-footer">CutIt</span> ?
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
        <a class="btn btn-danger" href="{% url 'logout' %}">Wyloguj</a></li>
        
      </div>
    </div>
  </div>
</div>


<div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div> 
        {% comment %} LOGO SECTION {% endcomment %}
        <a class="nav_link {% if request.path == home %} active {% endif %}"
        href="{% url 'page-home' %}" ><span class="material-icons md-48">carpenter</span>
        <span class="nav_logo-name">CutIt</span></a>

        <div class="nav_list">

          {% comment %}  Zlecenia do realizacji  {% endcomment %}
          <a class="nav_link {% if request.path == ordersList %} active {% endif %}" 
          href="{% url 'page-orders-list' %}"><i class='bx bx-table nav_icon'></i>
          <span class="nav_name">DO WYKONANIA</span>
          </a> 
          {% comment %}  Zlecenia wykonane {% endcomment %}
          <a class="nav_link {% if request.path == completedOrdersList %} active {% endif %}" 
          href="{% url 'page-completed-orders-list' %}" ><i class='bx bxs-select-multiple nav_icon'></i>
          <span class="nav_name">ZAKOŃCZONE</span> 
          </a>
          
          {% comment %} Użytkownicy {% endcomment %}
          {% comment %} <a class="nav_link {% if request.path == usersList %} active {% endif %}" 
          href="{% url 'page-users-list' %}" ><i class='bx bxs-user nav_icon'></i>
          <span class="nav_name">UŻYTKOWNICY</span>
          </a> {% endcomment %}

          {% comment %} Raporty {% endcomment %}
          <a class="nav_link {% if request.path == reportsList %} active {% endif %}"
          href="{% url 'page-reports-list' %}" ><i class='bx bx-bar-chart-alt-2 nav_icon'></i>
          <span class="nav_name">RAPORTY</span> 
          </a> 
          {% comment %} Zarządzanie Użytkownikami dla Admina{% endcomment %}
          <a class="nav_link {% if request.path == adminList %} active {% endif %}"
          href="{% url 'page-admin' %}" ><i class='bx bxs-user nav_icon'></i>
          <span class="nav_name">UŻYTKOWNICY</span> 
          </a> 

        
      

       <!-- Button trigger LOGOUT modal -->
      
      {% comment %} SIDEBAR BOTTOM SECTION - SIGNOUT {% endcomment %}
      <a class="nav_link {% if request.path == logout %} active {% endif %}"
      href="{% url 'logout' %}" class="nav_link" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class='bx bx-log-out nav_icon'></i> <span
          class="nav_name">WYLOGUJ</span> </a>

        </div>
        
    </nav>
  </div>